In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scp
import nltk
import imageio
import sklearn

from timeit import default_timer as timer
%matplotlib inline

import json as js

# Project
### Stages

**Timetable**

| Time | Task |
|----|----|
|9.9. | Groups deadline |
|16.9.| Topics deadline |
| here | EDA, clean data, do project |
|vk42 | presentation |
|vk43 | projektit |

## Project
```
A. Title of the project	
            
B. Elevator pitch [max 400 characters]
 
Describe the data science challenges related to the following themes. 
A good project should include interesting challenges under most of 
the themes. So for example, a project that begins with a single clean
data set and a clear task (e.g., predict a given response), isn't a good 
choice for your project.		
            
C. Data: sources, wrangling, management		
            
D. Data analysis: statistics, machine learning	
            
E. Communication of results: summarization & visualization
            
F. Operationalization: creating added value, end-user point of view
```

- 4x20x10000 stuctures with 19-30 atoms in a cluster
    - coordinates
    - dipole moment
    - energy
- Goals
    - End user
        - Configuration Sampling 
            - Find one structure with the lowest energy
    - Eliminate redundant structures
    - Find descriptors
        - reduce dimensions

#### Read data in

Data must have a `.csv`-file that contains:

| col1 | col2 | col3 | col4 |
|------|------|------|------|
| path to .log-file | path to .xyz-file | Dipole moment | Energy |

Make the csv-file 
> Maybe later

import os
os.system('bash .DataExtractor.sh')

import subprocess as sb
sb.call("./DataExtractor.sh")

!./DataExtractor.sh

In [46]:
files = pd.read_csv("Data_Collection.csv")
files

     ./Data1/logs/0.log   ./Data1/coord/0.xyz  2.402  -40.9179241
0   ./Data1/logs/10.log  ./Data1/coord/10.xyz  2.326   -40.918934
1   ./Data1/logs/11.log  ./Data1/coord/11.xyz  2.327   -40.918934
2   ./Data1/logs/12.log  ./Data1/coord/12.xyz  2.326   -40.918934
3   ./Data1/logs/13.log  ./Data1/coord/13.xyz  2.328   -40.918934
4   ./Data1/logs/14.log  ./Data1/coord/14.xyz  2.328   -40.918934
5   ./Data1/logs/15.log  ./Data1/coord/15.xyz  2.597   -40.917931
6   ./Data1/logs/16.log  ./Data1/coord/16.xyz  2.598   -40.917931
7   ./Data1/logs/17.log  ./Data1/coord/17.xyz  2.600   -40.917931
8   ./Data1/logs/18.log  ./Data1/coord/18.xyz  2.603   -40.917931
9   ./Data1/logs/19.log  ./Data1/coord/19.xyz  2.598   -40.917931
10   ./Data1/logs/1.log   ./Data1/coord/1.xyz  2.607   -40.916876
11  ./Data1/logs/20.log  ./Data1/coord/20.xyz  2.599   -40.917931
12  ./Data1/logs/21.log  ./Data1/coord/21.xyz  2.613   -40.922190
13  ./Data1/logs/22.log  ./Data1/coord/22.xyz  2.613   -40.922190
14  ./Data1/logs/23.log  ./Data1/coord/23.xyz  2.614   -40.922190
15  ./Data1/logs/24.log  ./Data1/coord/24.xyz  2.612   -40.922190
16  ./Data1/logs/25.log  ./Data1/coord/25.xyz  2.613   -40.922190
17  ./Data1/logs/26.log  ./Data1/coord/26.xyz  2.613   -40.922190
18  ./Data1/logs/27.log  ./Data1/coord/27.xyz  2.760   -40.921741
19  ./Data1/logs/28.log  ./Data1/coord/28.xyz  2.761   -40.921741
20  ./Data1/logs/29.log  ./Data1/coord/29.xyz  2.765   -40.921741
21   ./Data1/logs/2.log   ./Data1/coord/2.xyz  2.399   -40.917924
22  ./Data1/logs/30.log  ./Data1/coord/30.xyz  2.764   -40.921741
23  ./Data1/logs/31.log  ./Data1/coord/31.xyz  2.766   -40.921741
24  ./Data1/logs/32.log  ./Data1/coord/32.xyz  2.766   -40.921741
25  ./Data1/logs/33.log  ./Data1/coord/33.xyz  2.594   -40.916876
26  ./Data1/logs/34.log  ./Data1/coord/34.xyz  1.690   -40.923437
27  ./Data1/logs/35.log  ./Data1/coord/35.xyz  1.691   -40.923437
28  ./Data1/logs/36.log  ./Data1/coord/36.xyz  1.691   -40.923437
29  ./Data1/logs/37.log  ./Data1/coord/37.xyz  1.692   -40.923437
30  ./Data1/logs/38.log  ./Data1/coord/38.xyz  1.691   -40.923437
31  ./Data1/logs/39.log  ./Data1/coord/39.xyz  1.692   -40.923437
32   ./Data1/logs/3.log   ./Data1/coord/3.xyz  2.307   -40.918934
33  ./Data1/logs/40.log  ./Data1/coord/40.xyz  2.824   -40.922677
34  ./Data1/logs/41.log  ./Data1/coord/41.xyz  2.822   -40.922677
35  ./Data1/logs/42.log  ./Data1/coord/42.xyz  2.822   -40.922677
36  ./Data1/logs/43.log  ./Data1/coord/43.xyz  2.825   -40.922677
37  ./Data1/logs/44.log  ./Data1/coord/44.xyz  2.822   -40.922677
38  ./Data1/logs/45.log  ./Data1/coord/45.xyz  2.823   -40.922677
39  ./Data1/logs/46.log  ./Data1/coord/46.xyz  3.559   -40.919661
40  ./Data1/logs/47.log  ./Data1/coord/47.xyz  3.559   -40.919661
41  ./Data1/logs/48.log  ./Data1/coord/48.xyz  3.555   -40.919661
42  ./Data1/logs/49.log  ./Data1/coord/49.xyz  3.559   -40.919661
43   ./Data1/logs/4.log   ./Data1/coord/4.xyz  2.307   -40.918934
44   ./Data1/logs/5.log   ./Data1/coord/5.xyz  2.305   -40.918934
45   ./Data1/logs/6.log   ./Data1/coord/6.xyz  2.309   -40.918934
46   ./Data1/logs/7.log   ./Data1/coord/7.xyz  2.313   -40.918934
47   ./Data1/logs/8.log   ./Data1/coord/8.xyz  2.306   -40.918934
48   ./Data1/logs/9.log   ./Data1/coord/9.xyz  2.324   -40.918934

Should read one sample xyz-file to construct headers and get shapes to an array

In [35]:
#xyzarr = np.empty()

In [31]:
def read_xyz2flat(xyzfile):
    "Reads a xyz-file and returns the coordinates flattened to a Numpy-array"
    xyz_temp = pd.read_csv(xyzfile, \
                       sep='\s+', \
                       skiprows=2, \
                       header=None, \
                       index_col=0, \
                       names=['x','y','z']\
                      ).sort_index(ascending=False)
    xyz_flat = xyz_temp.values.flatten().reshape(1,57)
    return xyz_flat

In [ ]:
def xyz2df():
    
    coord_df = pd.DataFrame(xyz_flat,index=['a'],columns=col_names)

In [30]:
folder_wrk = !pwd
!cd ./Data1/coord/; pwd; ls
!pwd
!cd ..
!pwd

/Users/matthew/OneDrive - University of Helsinki/HY/Comp_TCM/Data/IDS/ClusterDataIDS/Data1/coord
0.xyz  13.xyz 18.xyz 22.xyz 27.xyz 31.xyz 36.xyz 40.xyz 45.xyz 5.xyz
1.xyz  14.xyz 19.xyz 23.xyz 28.xyz 32.xyz 37.xyz 41.xyz 46.xyz 6.xyz
10.xyz 15.xyz 2.xyz  24.xyz 29.xyz 33.xyz 38.xyz 42.xyz 47.xyz 7.xyz
11.xyz 16.xyz 20.xyz 25.xyz 3.xyz  34.xyz 39.xyz 43.xyz 48.xyz 8.xyz
12.xyz 17.xyz 21.xyz 26.xyz 30.xyz 35.xyz 4.xyz  44.xyz 49.xyz 9.xyz
/Users/matthew/OneDrive - University of Helsinki/HY/Comp_TCM/Data/IDS/ClusterDataIDS
/Users/matthew/OneDrive - University of Helsinki/HY/Comp_TCM/Data/IDS/ClusterDataIDS

Load a coord into a DataFrame

In [3]:
xyz_test = pd.read_csv("Data1/0.xyz", \
                       sep='\s+', \
                       skiprows=2, \
                       header=None, \
                       index_col=0, \
                       names=['x','y','z']\
                      ).sort_index(ascending=False)
# Atom names in indexes

```python
xyz_test = pd.read_csv("Data1/0.xyz", \
                       sep='\s+',\
                       skiprows=2, \
                       header=None, \
                       names=['atom','x','y','z']\
                      ).sort_values(by='atom',ascending=False).reset_index(drop=True)
# Atom names in col 0
```

Print the names of the atoms

In [4]:
xyz_test.index

Index(['S', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'H', 'H', 'H', 'H', 'H',
       'H', 'H', 'H', 'H', 'H'],
      dtype='object')

> How is order handled under one label?
- what is the order of other coord files?

Save the names of the atoms to an array

In [5]:
arr_indexes = np.array(xyz_test.index)

In [6]:
arr_indexes.shape[0]

19

Get numbers for the atoms and concatenate them with the labels

In [7]:
list_atomnames = []

for i,j in enumerate(arr_indexes):
    list_atomnames.append("{} {}".format(j,i))

arr_atomnames = np.array(list_atomnames)

Make the multi-index array of tuples

In [8]:
top_arr = np.empty((arr_atomnames.size * 3)).astype(str)
top_arr[0::3] = arr_atomnames
top_arr[1::3] = arr_atomnames
top_arr[2::3] = arr_atomnames
top_arr

array(['S 0', 'S 0', 'S 0', 'O 1', 'O 1', 'O 1', 'O 2', 'O 2', 'O 2',
       'O 3', 'O 3', 'O 3', 'O 4', 'O 4', 'O 4', 'O 5', 'O 5', 'O 5',
       'O 6', 'O 6', 'O 6', 'O 7', 'O 7', 'O 7', 'O 8', 'O 8', 'O 8',
       'H 9', 'H 9', 'H 9', 'H 10', 'H 10', 'H 10', 'H 11', 'H 11',
       'H 11', 'H 12', 'H 12', 'H 12', 'H 13', 'H 13', 'H 13', 'H 14',
       'H 14', 'H 14', 'H 15', 'H 15', 'H 15', 'H 16', 'H 16', 'H 16',
       'H 17', 'H 17', 'H 17', 'H 18', 'H 18', 'H 18'], dtype='<U32')

In [9]:
butt_arr = np.empty((arr_atomnames.size * 3)).astype(str)
butt_arr[0::3] = "x"
butt_arr[1::3] = "y"
butt_arr[2::3] = "z"
butt_arr

array(['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x',
       'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y',
       'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z',
       'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x',
       'y', 'z', 'x', 'y', 'z'], dtype='<U32')

In [10]:
col_arr = np.vstack((top_arr,butt_arr))
#col_arr.transpose()
col_arr_tuples = list(zip(*col_arr))
col_arr_tuples[:5]

[('S 0', 'x'), ('S 0', 'y'), ('S 0', 'z'), ('O 1', 'x'), ('O 1', 'y')]

Multi-index column names

In [11]:
col_names = pd.MultiIndex.from_tuples(col_arr_tuples, names=["Atom","Coord"])
col_names

MultiIndex(levels=[['H 10', 'H 11', 'H 12', 'H 13', 'H 14', 'H 15', 'H 16', 'H 17', 'H 18', 'H 9', 'O 1', 'O 2', 'O 3', 'O 4', 'O 5', 'O 6', 'O 7', 'O 8', 'S 0'], ['x', 'y', 'z']],
           labels=[[18, 18, 18, 10, 10, 10, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17, 9, 9, 9, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8], [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Atom', 'Coord'])

In [12]:
3*19

57

In [13]:
xyz_test.values.flatten().shape

(57,)

In [14]:
xyz_flat = xyz_test.values.flatten().reshape(1,57)

In [17]:
type(xyz_flat)

numpy.ndarray

In [15]:
coord_df = pd.DataFrame(xyz_flat,index=['a'],columns=col_names)
with pd.option_context('display.max_rows',None,'display.max_columns',None):
    print(coord_df)

Atom        S 0                           O 1                          O 2  \
Coord         x         y         z         x         y        z         x
a      0.141169  0.586462 -1.579178  1.571959  0.634674  1.58739 -0.496376

Atom                           O 3                          O 4            \
Coord        y         z         x         y         z        x         y
a     -0.79309  1.912224  0.122061 -2.393288  0.079677  1.01335 -0.572018

Atom                  O 5                          O 6                      \
Coord         z         x         y        z         x         y         z
a     -1.481227 -1.989939  0.798705  0.68009  0.522933  1.346199 -2.915277

Atom        O 7                           O 8                          H 9  \
Coord         x         y         z         x        y         z         x
a      0.369189  1.535905 -0.499852 -1.256258  0.20951 -1.702193  0.192515

Atom                           H 10                          H 11            \
Coord         y         z         x         y         z         x         y
a      0.757764 -3.586885  1.779578  1.401354  2.124928  1.251429  0.984936

Atom                 H 12                          H 13                      \
Coord         z         x         y         z         x         y         z
a      0.710985 -1.489374  1.623473  0.682714 -1.897694  0.492448 -0.263903

Atom       H 14                          H 15                          H 16  \
Coord         x         y         z         x         y         z         x
a      0.886638 -2.942662  0.267271  0.427588 -1.727576 -0.603801  0.369601

Atom                          H 17                          H 18            \
Coord         y         z        x         y         z         x         y
a     -0.238477  1.922843 -1.21537 -0.160903  1.456282 -0.303001 -1.543416

Atom
Coord         z
a      1.207911