### Stuff that we used to develop data reading

In [47]:
files = pd.read_csv("Data_Collection.csv")
np.array(files.Filename)

array([ 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  1, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29,  2, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,  3,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49,  4,  5,  6,  7,  8,  9])

In [48]:
test = next(files.iterrows())[1]
print(test)
type(test.Filename)

Filename                      0
LogPath      ./Data1/logs/0.log
XYZPath     ./Data1/coord/0.xyz
Dipole                    2.402
Energy                 -40.9179
Name: 0, dtype: object

int

In [49]:
xyz_test = pd.read_csv("Data1/coord/0.xyz", \
                       sep='\s+', \
                       skiprows=2, \
                       header=None, \
                       index_col=0, \
                       names=['x','y','z']\
                      ).sort_index(ascending=False)
# Atom names in indexes

```python
xyz_test = pd.read_csv("Data1/0.xyz", \
                       sep='\s+',\
                       skiprows=2, \
                       header=None, \
                       names=['atom','x','y','z']\
                      ).sort_values(by='atom',ascending=False).reset_index(drop=True)
# Atom names in col 0
```

Print the names of the atoms

> How is order handled under one label?
- what is the order of other coord files?

Save the names of the atoms to an array

In [50]:
arr_indexes = np.array(xyz_test.index)

In [51]:
arr_indexes.shape[0]

19

Get numbers for the atoms and concatenate them with the labels

In [52]:
list_atomnames = []

for i,j in enumerate(arr_indexes):
    list_atomnames.append("{} {}".format(j,i))

arr_atomnames = np.array(list_atomnames)

Make the multi-index array of tuples

In [53]:
top_arr = np.empty((arr_atomnames.size * 3)).astype(str)
top_arr[0::3] = arr_atomnames
top_arr[1::3] = arr_atomnames
top_arr[2::3] = arr_atomnames
#top_arr

In [54]:
butt_arr = np.empty((arr_atomnames.size * 3)).astype(str)
butt_arr[0::3] = "x"
butt_arr[1::3] = "y"
butt_arr[2::3] = "z"
#butt_arr

In [55]:
col_arr = np.vstack((top_arr,butt_arr))
#col_arr.transpose()
col_arr_tuples = list(zip(*col_arr))
col_arr_tuples[:5]

[('S 0', 'x'), ('S 0', 'y'), ('S 0', 'z'), ('O 1', 'x'), ('O 1', 'y')]

Multi-index column names

In [56]:
col_names = pd.MultiIndex.from_tuples(col_arr_tuples, names=["Atom","Coord"])
col_names

MultiIndex(levels=[['H 10', 'H 11', 'H 12', 'H 13', 'H 14', 'H 15', 'H 16', 'H 17', 'H 18', 'H 9', 'O 1', 'O 2', 'O 3', 'O 4', 'O 5', 'O 6', 'O 7', 'O 8', 'S 0'], ['x', 'y', 'z']],
           codes=[[18, 18, 18, 10, 10, 10, 11, 11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17, 9, 9, 9, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8], [0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=['Atom', 'Coord'])

In [57]:
3*19

57

In [58]:
xyz_test.values.flatten().shape

(57,)

In [59]:
xyz_flat = xyz_test.values.flatten().reshape(1,57)

In [60]:
type(xyz_flat)

numpy.ndarray

In [61]:
coord_df = pd.DataFrame(xyz_flat,index=['a'],columns=col_names)
with pd.option_context('display.max_rows',None,'display.max_columns',None):
    print(coord_df)

Atom        S 0                           O 1                          O 2  \
Coord         x         y         z         x         y        z         x
a      0.141169  0.586462 -1.579178  1.571959  0.634674  1.58739 -0.496376

Atom                           O 3                          O 4            \
Coord        y         z         x         y         z        x         y
a     -0.79309  1.912224  0.122061 -2.393288  0.079677  1.01335 -0.572018

Atom                  O 5                          O 6                      \
Coord         z         x         y        z         x         y         z
a     -1.481227 -1.989939  0.798705  0.68009  0.522933  1.346199 -2.915277

Atom        O 7                           O 8                          H 9  \
Coord         x         y         z         x        y         z         x
a      0.369189  1.535905 -0.499852 -1.256258  0.20951 -1.702193  0.192515

Atom                           H 10                          H 11            \
Coord         y         z         x         y         z         x         y
a      0.757764 -3.586885  1.779578  1.401354  2.124928  1.251429  0.984936

Atom                 H 12                          H 13                      \
Coord         z         x         y         z         x         y         z
a      0.710985 -1.489374  1.623473  0.682714 -1.897694  0.492448 -0.263903

Atom       H 14                          H 15                          H 16  \
Coord         x         y         z         x         y         z         x
a      0.886638 -2.942662  0.267271  0.427588 -1.727576 -0.603801  0.369601

Atom                          H 17                          H 18            \
Coord         y         z        x         y         z         x         y
a     -0.238477  1.922843 -1.21537 -0.160903  1.456282 -0.303001 -1.543416

Atom
Coord         z
a      1.207911

In [62]:
coord_df

Atom        S 0                           O 1                          O 2  \
Coord         x         y         z         x         y        z         x
a      0.141169  0.586462 -1.579178  1.571959  0.634674  1.58739 -0.496376

Atom                           O 3  ...      H 15      H 16            \
Coord        y         z         x  ...         z         x         y
a     -0.79309  1.912224  0.122061  ... -0.603801  0.369601 -0.238477

Atom                H 17                          H 18
Coord         z        x         y         z         x         y         z
a      1.922843 -1.21537 -0.160903  1.456282 -0.303001 -1.543416  1.207911

[1 rows x 57 columns]